*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 1.5em;
    border: 0.1em solid black;
}
.container>p{
    font-size: 1.5em;
}
.two-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
}
.two-btns>button{
    background-color: rgb(2, 215, 2);
    border: none;
    border-radius: 1em;
    padding: 1em;
}
.two-btns>button>a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}