* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3em solid #000;
    padding: 1em;
    position: relative;
}
.container>h1 {
    color: green;
    margin-bottom: 1em;
    text-align: center;
}
.container>input, .pass-field input {
    margin-bottom: 1em;
    padding: 0.8em;
    border-radius: 0.8em;
    border: 1px solid #aaa;
    width: 100%;
    box-sizing: border-box;
}
.container>a {
    margin-bottom: 1em;
}
.container>button {
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 0.3em;
    padding: 0.8em;
    font-size: 1em;
}
#Signupform {
    display: none;
    text-align: center;
}
#Loginform {
    text-align: center;
}
#UserPage {
    display: none;
    background-color: green;
    height: 100%;
    width: 100%;
}
#w-name {
    color: blue;
}
#w-name-1 {
    text-align: center;
}
#Logout-btn {
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 0.3em;
    padding: 0.8em;
    font-size: 1em;
    margin-top: 2em;
}
.todolist {
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}
.todolist>h3 {
    margin-bottom: 1em;
}
.inner>input {
    width: 15em;
    padding: 0.4em;
}
.inner>button {
    padding: 0.6em;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 0.4em;
}
.pass-field {
    position: relative;
    width: 100%;
    max-width: 250px;
}
.pass-field i {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray;
}
@media (max-width: 480px) {
    .container {
        width: 80%;
    }
    .pass-field {
        max-width: 100%;
    }
    .pass-field input {
        padding-right: 2.5em;
    }
    #w-name, #w-name-2 {
        font-size: 0.8em;
        font-weight: 600;
    }
    #Logout-btn {
        font-size: 0.9em;
    }
}
